:root {
  --tweets-micahrl-bg-color: var(--twarchive-twitter-2xlightgray);
  --tweets-micahrl-fg-color: var(--twarchive-twitter-black);
  --tweets-micahrl-link-unvisited-color: var(--twarchive-twitter-blue);
  --tweets-micahrl-link-visited-color: var(--twarchive-twitter-blue);
  // --tweets-micahrl-link-visited-color: #991df2;

  --content-width: 30em;
}

@media (prefers-color-scheme: dark) {
  :root {
    --tweets-micahrl-bg-color: var(--twarchive-twitter-black);
    --tweets-micahrl-fg-color: var(--twarchive-twitter-2xlightgray);
  }
}

body {
  font-family: sans-serif;
  margin: 2em;
  background-color: var(--tweets-micahrl-bg-color);
  color: var(--tweets-micahrl-fg-color);
}

.tweets-micahrl-content {
  max-width: var(--content-width);
}

.tweets-micahrl-sitenav {
  ol {
    li {
      display: inline-block;
      padding: 0.5em 1em;
    }
  }
}

a {
  color: var(--tweets-micahrl-link-unvisited-color);
  &:visited {
    color: var(--tweets-micahrl-link-visited-color);
  }
}

.tweet-table {
  .tweet-table-row-date-username {
    .tweet-table-date, .tweet-table-username {
      padding-top: 0.5em;
      font-size: 14px;
    }
  }
  .tweet-table-row-text {
    .tweet-table-text {
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: inline-block;
      width: var(--content-width);
      border-bottom: 1px solid var(--tweets-micahrl-fg-color);
      padding-bottom: 1em;
      font-size: 12px;
      color: var(--twarchive-twitter-darkgray);
    }
  }
}

@media (max-width: 400px) {
  :root {
    --content-width: 24em;
  }
  .tweet-table {
    .tweet-table-row-date-username {
      .tweet-table-date, .tweet-table-username {
        font-size: 12px;
      }
    }
    .tweet-table-row-text {
      .tweet-table-text {
        font-size: 10px;
      }
    }
  }
}
